
<%-include('../../layouts/user/header.ejs')%>
<%-include('../../layouts/user/nav_bar.ejs')%>
<section>
    
<% if (coupon.length > 0) { %>
    <div id="discount-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% coupon.forEach((item, index) => { %>
          <% if (index < 3) { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <div class="discount-card">
                <img class="card-img-top" src="/img/coupon_img/<%= index + 1 %>.jpg" alt="Discount Offer Image">
                <div class="carousel-caption d-none d-md-block text-left">
                  <div class="rounded-circle  w-25 h-100">
                    <h5 class="card-title display-4 text-success">SAVE <%= item.discount %>% !</h5>
                  </div>
                  <!-- <h5 class="card-title display-4 text-success">SAVE <%= item.discount %>% !</h5> -->
                  <h5 class="card-title display-4">Exclusive Discount</h5>
                  <h6>Coupon Code : <%= item.couponName %></h6>
                  <p class="card-text text-primary">Save <%= item.discount %> % on your purchase of ₹ <%= item.minimumPrice %> or more. Expires on <%= item.expiryDate.toLocaleDateString() %>.</p>
                  <!-- <a href="/" class="btn btn-outline-success">Shop Now</a> -->
                </div>
              </div>
            </div>
          <% } %>
        <% }) %>
      </div>
      <a class="carousel-control-prev" href="#discount-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#discount-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<% } %>

</section>



<section>
	<div class="container">
	  <div class="row justify-content-end">
		<div class="col-md-8">
		  <div class="d-flex justify-content-end align-items-center p-3">
			<div class="filter-button">
			  <button class="btn btn-primary btn-sm js-show-filter btn-white">
				<i class="bi bi-filter"></i>
				Filter
			  </button>
			</div>
			<div class="search-button ml-2">
			  <button class="btn btn-primary btn-sm js-show-search btn-white">
				<i class="bi bi-search"></i>
				Search
			  </button>
			</div>
		  </div>
  
		  <!-- Search product -->
		  <div class="panel-search p-3"  style="display: none;">
			<div class="input-group">
			  <input type="text" class="search-input form-control" onkeyup="sendData(this)" name="search" placeholder="Search">
			  <div class="input-group-append">
				<button class="btn btn-primary" onclick="searchData()" type="submit">
				  <i class="bi bi-search"></i>
				</button>
			  </div>
			</div>
			<div class="searchResults"></div>
		  </div>
		  


		  <div class="panel-filter p-3" style="display: none;">
			<div class="row">
			  <div class="col-md-4">
				<div class="filter-category">
				  <h6 class="text-primary">Categories</h6>
				  <ul class="list-unstyled">
					<% category.forEach((x) => { %>
					  <li>
						<a onclick="category_filter('<%= x.categoryId%>')" href="#" class="filter-link">
						  <%= x.categoryName %>
						</a>
					  </li>
					<% }) %>
				  </ul>
				</div>
			  </div>
  
			  <div class="col-md-4">
				<div class="filter-price">
				  <h6 class="text-primary">Price</h6>
				  <ul class="list-unstyled">
					<li>
					  <a href="#" onclick="all_products()" class="filter-link filter-link-active">All</a>
					</li>
					<li>
					  <a href="#"  onclick="price(0,500)" class="filter-link">₹0 - ₹500</a>
					</li>
					<li>
					  <a href="#" onclick="price(500,1000)"  class="filter-link">₹500 - ₹1000</a>
					</li>
					<li>
					  <a href="#" onclick="price(1000,1500)" class="filter-link">₹1000 - ₹1500</a>
					</li>
					<li>
					  <a href="#" onclick="price(1500,2000)"  class="filter-link">₹1500 - ₹2000</a>
					</li>
					<li>
					  <a href="#" onclick="price(2000,100000)" class="filter-link">₹2000+</a>
					</li>
				  </ul>
				</div>
			  </div>
			  
  
			  <div class="col-md-4">
				<div class="filter-sort">
				  <h6 class="text-primary">Sort By</h6>
				  <ul class="list-unstyled">
					<li>
					  <a href="#" onclick="all_products()" class="filter-link filter-link-active">All</a>
					</li>
					<li>
					  <a href="#" onclick="priceLeval(1)" class="filter-link">Price: Low to High</a>
					</li>
					<li>
					  <a href="#" onclick="priceLeval(-1)" class="filter-link">Price: High to Low</a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>


<section style="background-color: #ffffff;" id="product-list">

	<div class="container py-5">
	  <header class="mb-4">
		<h4 class="text-center mt-4 mb-5"><strong>Bestsellers</strong></h4>
	  </header>
  
	  <div class="row product-cad">
		<% if (products.length > 0) { %>
		  <% products.forEach((item) => { %>
			<div class="col-lg-3 col-md-6">
			  <div class="single-product">
				<img class="img-fluid product-image" src="/proImages/<%= item.images[0] %>" alt="Product Image">
				<div class="product-details" style="height: 140px; position: relative;">
				  <h6 class="product-name overflow-hidden"><%= item.name %></h6>
				  <div class="price">
					<% let proOfferMatch = productOffer.find((x)=> x.product_name.equals(item.productId)); %>
					<% let offerMatch = offers.find((x) => x.category.categoryId.equals(item.category)); %>
					<% if(proOfferMatch && offerMatch){ %>

						<h6>₹<%= item.price - ((item.price* (offerMatch.discountPercentage + proOfferMatch.discountPercentage ))/100).toFixed(2)  %></h6>
						<h6 class="l-through">₹ <%= item.price.toFixed(2) %></h6> 
						<span class="text-success"><%=offerMatch.discountPercentage + proOfferMatch.discountPercentage %>% off</span>
					
					<% } else if (proOfferMatch && !offerMatch){%>
						<h6>₹<%= item.price - ((item.price* proOfferMatch.discountPercentage)/100).toFixed(2)  %></h6>
						<h6 class="l-through">₹ <%= item.price.toFixed(2) %>.00</h6> 
						<span class="text-success"><%=proOfferMatch.discountPercentage %>% off</span>

					<% } else if (offerMatch && !proOfferMatch) {%>
						<h6>₹<%= item.price -((item.price* offerMatch.discountPercentage)/100).toFixed(2)  %></h6>
						<h6 class="l-through">₹ <%= item.price.toFixed(2) %></h6> 
						<span class="text-success"><%=offerMatch.discountPercentage %>% off</span>
					<% } else {%>
						<h6>₹<%= item.price.toFixed(2) %> </h6>
					<% }%>
				  </div>
				  <div class="prd-bottom" style="position: absolute; bottom: 0;">
					<% if(item.stock !== 0){ %>
						<a class="social-info" onclick="AddToCart('<%= item.productId %>')">
							<span class="ti-bag"></span>
							<p class="hover-text">Add to Cart</p>
						  </a>
					<% } else { %>
						<a class="social-info">
							<span class="ti-bag"></span>
							<p class="hover-text">Add to Cart</p>
						  </a>
					<% } %>

					
					<a onclick="addTowoshlist('<%= item.productId %>')" class="social-info">
					  <span class="lnr lnr-heart"></span>
					  <p class="hover-text">Wishlist</p>
					</a>
					<a href="/product-detail/<%= item.productId %>" class="social-info">
					  <span class="lnr lnr-move"></span>
					  <p class="hover-text">View More</p>
					</a>
				  </div>
				</div>
			  </div>
			</div>
		  <% }) %>
		<% } else{ %>
				<div class="container h-50 w-50 text-center mt-5">
				  <h1>No Matches Found</h1>
				  <p>Sorry, we couldn't find any matches for your search.</p>
				  <a href="/" class="btn btn-success">Return to Home</a>
				</div>
			<% } %>
	  </div>
	</div>
</section>
<style>
	.single-product img {
		margin-bottom: 20px;
		width: 100%;
		height: 260px;
	}
  .sm-product-image {
    height: 60px;
    width: auto; /* Adjust the width as per your requirement */
  }

</style>

    
<% if (size){ %>
	<nav aria-label="Page navigation example">
		<ul id="pagination" class="pagination pagination-sm justify-content-center">
		  <% for (let i = 1; i <= size; i++) { %>
			<% if (i == page) { %>
			  <li class="page-item active">
				<a onclick="pagination('<%= i %>')"  class="page-link active" tabindex="-1"><%= i %></a>
			  </li>
			<% } else { %>
			  <li class="page-item">
				<a onclick="pagination('<%= i %>')"class="page-link"><%= i %></a>
			  </li>
			<% } %>
		  <% } %>
		  
		</ul>
	  </nav>

<% } %>






  
  
<%-include('../../layouts/user/footer.ejs')%>
<script>
	$(document).ready(function () {
	$('.js-show-filter').click(function () {
		$('.panel-filter').toggle();
	});

	$('.js-show-search').click(function () {
		$('.panel-search').toggle();
	});
	});
  </script>


  <script>
var category='';
var searchValue='';
var low ='';
var high ='';
var priceLow='';
	function pagination(num) {
		console.log(low, high)
		$.ajax({
		url: `/all_products?page=${num}&category=${category}&search=${searchValue}&low=${low}&high=${high}&priceLow=${priceLow}`,
		method: 'get',
		success: (response) => {
			console.log(num);
			// console.log(response);
		 	 $('.product-cad').load(`/all_products?page=${num}&category=${category}&search=${searchValue}&low=${low}&high=${high}&priceLow=${priceLow} .product-cad`);
			  $('#pagination').load(`/all_products?page=${num}&category=${category}&search=${searchValue}&low=${low}&high=${high}&priceLow=${priceLow} #pagination`);
			}
		});
	}
	function category_filter(categoryId){
		this.category = categoryId
		$.ajax({
			url:`/all_products?category=${categoryId}`,
			method:'get',
			success:(response)=>{
				console.log(categoryId)
			  $('.product-cad').load(`/all_products?category=${category} .product-cad`);
			  $('#pagination').load(`/all_products?category=${category} #pagination`);
			}
		})
	}

function sendData(e) {
  var data = { search: e.value };
  const searchResults = document.querySelector('.searchResults');
  let match = e.value.match(/^[a-zA-Z ]*/);
  let match2 = e.value.match(/\s*/);
  if (match2[0] == e.value) {
    searchResults.innerHTML = '';
    return;
  }
  if (match[0] == e.value) {
    $.ajax({
      url: '/search',
      method: 'post',
      data: data,
      success: function(response) {
        if (response.payload.length < 1) {
          searchResults.innerHTML = '<p>Sorry. Nothing Found.</p>';
          return;
        }
        searchResults.innerHTML = '';
        response.payload.forEach((item, index) => {
            if (index > 0) searchResults.innerHTML += '<hr>';
  			searchResults.innerHTML += `<div class="product-item">
				<a href="/product-detail/${item.productId}"><p><img class="img-fluid sm-product-image" src="/proImages/${item.images[0]}" alt="Product Image"></a>
                                ${item.name}</p>
                              </div>`;
        });
        console.log(response.payload);
      }
    });
    return;
  }
  searchResults.innerHTML = '';
}

function price(low, high){
	this.low = low;
	this.high = high;
	$.ajax({
		url:`/all_products?low=${low}&high=${high}`,
		method:'get',
		success:(response)=>{
			$('.product-cad').load(`/all_products?low=${low}&high=${high} .product-cad`);
			$('#pagination').load(`/all_products?low=${low}&high=${high} #pagination`);
		}
	})
}

function searchData(){
	searchValue = $('.search-input').val();
	$.ajax({
		url:`/all_products?search=${searchValue}`,
		method:'get',
		success:(response)=>{
			$('.product-cad').load(`/all_products?search=${searchValue} .product-cad`);
			$('.searchResults').load(`/all_products?search=${searchValue} .searchResults`);
			$('#pagination').load(`/all_products?search=${searchValue} #pagination`);
		}
	})
}
function all_products(){
	this.low= this.high= this.category= this.priceLow= this.searchValue='' ;
	$.ajax({
		url:`/all_products`,
		method:'get',
		success:(response)=>{
			$('.product-cad').load(`/all_products .product-cad`);
			$('#pagination').load(`/all_products #pagination`);
		}
	})
}

function priceLeval(priceLow){
	this.priceLow = priceLow;
	$.ajax({
		url:`/all_products?priceLow=${priceLow}`,
		method:'get',
		success:(response)=>{
			$('.product-cad').load(`/all_products?priceLow=${priceLow} .product-cad`);
			$('#pagination').load(`/all_products?priceLow=${priceLow} #pagination`);
		}
	})
}


  </script>