<%- include('../../layouts/admin/header.ejs') %>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #cd9cf2;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
    }
</style>

<section class="gradient-custom mt-5">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body p-4">
                        
                        <% if (banner.length > 0) { %>
                          <% banner.forEach((item) => { %>
                            <div class="card shadow-0 border mb-4">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-2">
                                    <img src="/proImages/<%= item.bannerId.images[0] %>" class="img-fluid" alt="Phone">
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0"><%= item.bannerId.name %></p>
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">Qty: <%= item.quantity %></p>
                                  </div>
                                  <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                    <!-- Add any content for the middle column here -->
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">₹ <%= item.singlePrice * item.quantity%></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% }) %>
                        <% } %>
                        
                        <% if (product.length > 0) { %>
                          <% product.forEach((item) => { %>
                            <div class="card shadow-0 border mb-4">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-2">
                                    <img src="/proImages/<%= item.productId.images[0] %>" class="img-fluid" alt="Phone">
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0"><%= item.productId.name %></p>
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">Qty: <%= item.quantity %></p>
                                  </div>
                                  <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                    <!-- Add any content for the middle column here -->
                                  </div>
                                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small">₹ <%= item.singlePrice *item.quantity %></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% }) %>
                        <% } %>
                        
                        
                         

                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0">Order Details</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> ₹ <%=data.total %>.00</p>
                        </div>
                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Invoice Number : <%=data.orderId%></p>
                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> ₹0.00</p> -->
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Payment Method : <%=data.paymentType%></p>
                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 0.00</p> -->
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted mb-0">Invoice Date :  <%= data.date.toLocaleDateString()%></p>
                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 0.00</p> -->
                        </div>
                        <div class="d-flex justify-content-between mb-5">
                            <p class="text-muted mb-0">Delivery Address  : <%= data.deliveryAddress[0].name %>,
                               <%= data.deliveryAddress[0].housename%>
                               <%= data.deliveryAddress[0].street%> <br>
                               <%= data.deliveryAddress[0].district%>
                               <%= data.deliveryAddress[0].state%>
                               <%= data.deliveryAddress[0].pincode%>
                               <%= data.deliveryAddress[0].country%>
                               <%= data.deliveryAddress[0].phone%>
                              </p>

                            <!-- <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p> -->
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../layouts/admin/footer.ejs') %>
