<%- include('../../layouts/admin/header.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%-include('../../layouts/admin/nav.ejs')%>
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 text-center">Order Management</h1>

                    <!-- Page Heading -->
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4 mt-2">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Order Management</h6>
                        </div>
                        <div class="card-body">
        
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>Order ID</th>
                                            <th>Order Date</th>
                                            <th>User Email</th>
                                            <th>Payment Method</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>NO</th>
                                            <th>Order ID</th>
                                            <th>Order Date</th>
                                            <th>User Email</th>
                                            <th>Payment Method</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% if (order.length > 0 ){%>
                                            <% order.forEach((item, index)=>{ %>
                                                <tr>
                                                    <td><%= index + 1%></td>
                                                    <td><%= item.orderId%></td>
                                                    <td><%= item.date.toLocaleDateString()%></td>
                                                    <td><%= item.userId.email%></td>
                                                    <td><%= item.paymentType%></td>
                                                    <td  id="status-<%=item.orderId%>">
                                                      
                                                        <% if (item.status=='delivered' ){ %>
                                                            <p class="text-success"><%=item.status%></p>
                                                        <% }else{ %>
                                                            <p class="text-danger"><%=item.status%></p>
                                                        <% }%>
                                                    </td>
                                                   
                                                      <td  id="action-<%=item.orderId%>">
                                                        <% if (item.status === 'pending') { %>
                                                          <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <%= item.status %>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                              <a class="dropdown-item" onclick="orderAction('<%= item.orderId%>','processing')">Processing</a>
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','shipped')">Shipped</a>
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','delivered')">Delivered</a>
                                                            </div>
                                                          </div>
                                                        <% } else if (item.status === 'processing') { %>
                                                          <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <%= item.status %>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','shipped')">Shipped</a>
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','delivered')">Delivered</a>
                                                            </div>
                                                          </div>
                                                        <% } else if (item.status === 'shipped') { %>
                                                          <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <%= item.status %>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','delivered')">Delivered</a>
                                                            </div>
                                                          </div>
                                                        <% } else if (item.status === 'Returned') { %>
                                                          <div class="dropdown">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              Refund request
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','refunded')">Refund</a>
                                                              <a class="dropdown-item"  onclick="orderAction('<%= item.orderId%>','norefund')">No Refund</a>
                                                            </div>
                                                          </div>
                                                        <% } %>
                                                      </td>
                                                    <td>
                                                        <a href="/admin/dashboard/order/detail/<%= item.orderId %>">info</a>
                                                    </td>
                                                </tr>
                                            <% })%>
                                        <% } else {%>
                                          <tr>
                                            <td>0 order !</td>
                                          </tr>
                                        <% }%>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    
    
    
    <script>
        $(document).ready(function () {
        $('#example').DataTable();
    });
    </script>
    <script>
      function orderAction(id, action){
        $.ajax({
          url:`/admin/dashboard/order/action/?orderId=${id}&action=${action}`,
          method: 'get',
          success:(response)=>{
            $(`#status-${id}`).load(`/admin/dashboard/order #status-${id}`);
            $(`#action-${id}`).load(`/admin/dashboard/order #action-${id}`);
          }
        })
      }
    </script>
<%- include('../../layouts/admin/footer.ejs') %>


