<%- include('../../../layouts/admin/header.ejs') %>
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

      <!-- Topbar -->
  <%-include('../../../layouts/admin/nav.ejs')%>


  <div class="container">
    <h1>Product Offer Management</h1>
    <a href="/admin/dashboard/add_product_offer" class="btn btn-primary mb-3">Add New Product Offer</a>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Discount Percentage</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if(productOffers.length > 0){ %>
            <% productOffers.forEach((offer) => { %>
                <tr>
                  <td>
                    <img height="80px" width="auto" src="/proImages/<%= offer.product_name.images[0] %>" alt="imag"></td>
                  <td><%= offer.product_name.name %></td>
                  <td><%= offer.description %></td>
                  <td><%= offer.discountPercentage %>%</td>
                  <td><%= offer.startDate.toDateString() %></td>
                  <td><%= offer.endDate.toDateString() %></td>
                  <% if (offer.status =='Active'){ %>
                    <td class="text-success"><%= offer.status %></td>
                  <% } else{ %>
                    <td><%= offer.status %></td>
                  <% } %>
                  <td>
                    <a href="/admin/dashboard/edit_product_offer/<%= offer._id %>" class="btn btn-primary btn-sm">Edit</a>
                  </td>
                </tr>
              <% }) %>
        <% }else{ %>
            <tr>
                <td><p>Emty</p></td>
            </tr>
        <% } %>

      </tbody>
    </table>
  </div>
</div>
</div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
