<%-include('../../layouts/user/header.ejs')%>
<%-include('../../layouts/user/nav_bar.ejs')%>


<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">


<div class="containerm" style="margin: 10%;" >
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
        <tr>
          <th> No</th>
          <th>OrderId</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Status</th>
          <th>Action</th>
          <th></th>
        </tr>
        </tr>
    </thead>
    <tbody>
        <% if (orderData.length > 0){ %>
            <% orderData.forEach((item, index)=>{ %>
                <tr>
                    <td><%= index + 1%></td>
                    <td><%= item.orderId%></td>
                    <td><%= item.date.toLocaleDateString()%></td>
                    <td><%= item.total.toFixed(2) %></td>
                    <td><%= item.paymentType%></td>
                    <td>
                        <% if (item.status == 'pending') { %>
                            <p class="text-danger">Pending</p>
                        <% } else if (item.status == 'cancel') { %>
                            <p class="text-danger">Canceled</p>
                        <% } else if (item.status == 'confirmed') { %>
                            <p class="text-success">Delivered</p>
                        <% } else if (item.status == 'Return') { %>
                            <p class="text-danger">Returned</p>
                        <% } else{ %>
                          <p><%= item.status%></p>
                          <%}%>
                    </td>
                    
                    <!-- <td><%= item.status%></td> -->
                    <td>
                        <% if (item.status == 'delivered') { %>
                          <a href="/profile/my-orders/action/?orderId=<%= item.orderId %>&action=Returned&paymentType=<%=item.paymentType%>">
                            <button type="button" class="btn btn-outline-success m-3">Return</button>
                          </a>
                        <% } else if (item.status == 'pending' || item.status=='shipped') { %>
                          <a href="/profile/my-orders/action/?orderId=<%= item.orderId %>&action=cancel&paymentType=<%=item.paymentType%>">
                            <button type="button" class="btn btn-outline-success m-3">Cancel</button>
                          </a>
                        <% } else if (item.status == 'cancel') { %>
                          <p class="text-danger">Canceled</p>
                        <% } else if ( item.status == 'Return') {%>
                          <p class="text-success">Returned</p>
                          <% }else if(item.status=='processing') { %>
                            <a href="/profile/my-orders/action/?orderId=<%= item.orderId %>&action=cancel&paymentType=<%=item.paymentType%>">
                              <button type="button" class="btn btn-outline-success m-3">Cancel</button>
                            </a>
                          <% } %>
                      </td>
                      
                    <td>
                        <div class="pt-4"><a href="/profile/my-orders/order-detail/<%= item.orderId%>"><i class="bi bi-eye-fill mt-3"></i></a></div>
                    </td>
                </tr>
            <% })%>
       <% }%>
    </tbody>
    <tfoot>
        <tr>
        <tr>
          <th> No</th>
          <th>OrderId</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Status</th>
          <th>Action</th>
          <th></th>
        </tr>
        </tr>
    </tfoot>
</table>


</div>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>



<script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>